[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
factory-boy = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
aiohttp = {extras = ["speedups"], version = "*"}
bcrypt = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
pytest-asyncio = "*"
python-multipart = "*"
gino = {extras = ["starlette"], version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
