[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

httpx = "*"

pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
factory-boy = "*"

[packages]
fastapi = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}

alembic = "*"
sqlalchemy = "*"
gino = {extras = ["starlette"], version = "*"}

bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}

aiohttp = {extras = ["speedups"], version = "*"}

python-multipart = "*"

uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
